@model GameLevel

<div class="container">
    <h2 class="text-center">Edit Game Level</h2>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="LevelId" />
        <div class="form-group">
            <label asp-for="title"></label>
            <input asp-for="title" class="form-control" />
            <span asp-validation-for="title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>